<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.renegaed.should-i-watch-this-movie-advanced</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>F8C5D133-7C4D-44F2-845B-FAE1568A09E7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1D01CD6F-CB94-4256-BE75-CD37417A17A0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>56D81A6A-F8F6-4FC2-A576-8105A37827B1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F3A56050-C1DB-44C7-97FE-D372449E07D5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>renegaed</string>
	<key>description</key>
	<string>search YouTube for movie trailer, open IMDB &amp; Rotten Tomatoes page</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Should I watch this movie advanced?</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<true/>
				<key>url</key>
				<string>https://www.youtube.com/results?search_query={query}+Trailer</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>1D01CD6F-CB94-4256-BE75-CD37417A17A0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<true/>
				<key>url</key>
				<string>https://www.google.com/search?&amp;q={query}+imdb&amp;btnI=l</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>56D81A6A-F8F6-4FC2-A576-8105A37827B1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>movie</string>
				<key>subtext</key>
				<string>search YouTube for movie trailer, open IMDB &amp; Rotten Tomatoes page</string>
				<key>text</key>
				<string>Show details for movie '{query}'</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F8C5D133-7C4D-44F2-845B-FAE1568A09E7</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<true/>
				<key>url</key>
				<string>https://www.google.com/search?&amp;q={query}+rottentomatoes&amp;btnI=l</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>F3A56050-C1DB-44C7-97FE-D372449E07D5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1D01CD6F-CB94-4256-BE75-CD37417A17A0</key>
		<dict>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>56D81A6A-F8F6-4FC2-A576-8105A37827B1</key>
		<dict>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>F3A56050-C1DB-44C7-97FE-D372449E07D5</key>
		<dict>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>F8C5D133-7C4D-44F2-845B-FAE1568A09E7</key>
		<dict>
			<key>ypos</key>
			<real>190</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
